@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <h1 class="titulo-principal">Bem-vindo ao VulnerabilidadesApp!</h1>

    <p class="descricao">
        Olá! Meu nome é <strong>Thiago Silva</strong>, sou aluno do <strong>5º semestre</strong> de Análise e Desenvolvimento de Sistemas.
        Esta aplicação foi desenvolvida como parte da disciplina <strong>Aplicações para Web II</strong>.
    </p>

    <p class="descricao">
        O objetivo do projeto é simular um sistema de gerenciamento de vulnerabilidades, permitindo cadastro, edição e visualização
        de falhas de segurança. As informações são mantidas em memória utilizando cache, de forma a garantir leveza e simplicidade
        durante o processo de demonstração acadêmica, e por segurança uma atividade academica, não incluí mais telas. </p>

    <p class="descricao">
        A aplicação foi construída com <strong>ASP.NET Core MVC</strong> e segue o padrão de arquitetura MVC.
    </p>

    <a href="/vulnerabilidades" class="btn-vulnerabilidades">🔐 Ver Vulnerabilidades</a>

    <p class="descricao">
        Você pode acessar a documentação oficial do ASP.NET Core no link abaixo:
    </p>

    <a href="https://learn.microsoft.com/aspnet/core" target="_blank" class="doc-link">
        📚 Documentação do ASP.NET Core
    </a>
</div>
